<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Digimon</title>
</head>

<body>
    <main>
        <center>
            <% digimon.forEach(val=>{%>
                <div class="itemes">
                    <img src="<%=val.img%>" alt="">
                    <h2>
                        <%=val.name%>
                    </h2>
                    <h2>
                        <%=val.level%>
                    </h2>
                    <form class="fav" action="/favorite" method="post">
                        <input type="text" class="inputForm" name="img" value="<%=val.img%>"><br>
                        <input type="text" class="inputForm" name="name" value="<%=val.name%>"><br>
                        <input type="text" class="inputForm" name="level" value="<%=val.level%>"><br>
                        <button>Add To Fav</button>
                    </form>
                </div>


                <% })%>
        </center>
    </main>


</body>

</html>